# Machine Learning - AVC

## Leitura da base de dados

In [1]:
import pandas as pd

In [2]:
# Lendo arquivo

df = pd.read_csv('healthcare-dataset-stroke-data.csv'
                 ,sep = ';'
                 ,header = 0)

In [3]:
# Visualizando as 5 primeiras linhas do dataframe

df.head(5)

,id,gender,age,hypertension,heart_disease,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,0,1,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61,0,0,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80,0,1,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49,0,0,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79,1,0,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
# Conferindo número total de linhas e colunas do dataframe

print(f"""N° de linhas: {df.shape[0]}\n\
N° de colunas:{df.shape[1]}""")

N° de linhas: 4354
N° de colunas:11

In [5]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,4354.000000,4354.000000,4354.000000,4354.000000,4354.000000,4170.000000,4354.000000
mean,36586.869545,49.428112,0.114378,0.063160,108.100165,30.373477,0.056729
std,21188.579704,18.331694,0.318306,0.243279,47.408478,7.322414,0.231351
min,67.000000,16.000000,0.000000,0.000000,55.120000,11.300000,0.000000
25%,17901.250000,34.250000,0.000000,0.000000,77.465000,25.300000,0.000000
50%,37071.000000,50.000000,0.000000,0.000000,92.245000,29.100000,0.000000
75%,54748.500000,63.000000,0.000000,0.000000,115.820000,34.100000,0.000000
max,72918.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

## Tratamento / Ajuste do dataframe

In [6]:
# Verificando informações das colunas

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4354 entries, 0 to 4353
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4354 non-null   int64
 1   gender             4354 non-null   object
 2   age                4354 non-null   int64
 3   hypertension       4354 non-null   int64
 4   heart_disease      4354 non-null   int64
 5   work_type          4354 non-null   object
 6   Residence_type     4354 non-null   object
 7   avg_glucose_level  4354 non-null   float64
 8   bmi                4170 non-null   float64
 9   smoking_status     4354 non-null   object
 10  stroke             4354 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 374.3+ KB

In [7]:
df.corr()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
id,1.000000,-0.003225,0.002706,-0.003558,-0.004051,-0.005955,0.003996
age,-0.003225,1.000000,0.251290,0.269161,0.233428,0.045350,0.251350
hypertension,0.002706,0.251290,1.000000,0.096552,0.167461,0.126667,0.117760
heart_disease,-0.003558,0.269161,0.096552,1.000000,0.158779,-0.001805,0.128161
avg_glucose_level,-0.004051,0.233428,0.167461,0.158779,1.000000,0.151990,0.129328
bmi,-0.005955,0.045350,0.126667,-0.001805,0.151990,1.000000,0.002997
stroke,0.003996,0.251350,0.117760,0.128161,0.129328,0.002997,1.000000

In [8]:
# Alterando nome das colunas

colunas = {'id': 'ID',
           'gender': 'Genero',
           'age': 'Idade',
           'hypertension': 'Hipertensao',
           'heart_disease': 'DoençaCardiaca',
           'work_type': 'TipoTrabalho',
           'Residence_type': 'TipoResidencia',
           'avg_glucose_level': 'NivelGlicose',
           'bmi': 'IMC',
           'smoking_status': 'StatusFumante',
           'stroke': 'AVC'}

df = df.rename(columns=colunas)

In [9]:
# Verificando itens em cada coluna

colunas_traducao = ['Genero', 'TipoTrabalho', 'TipoResidencia', 'StatusFumante']

for coluna in colunas_traducao:
  print(f'{coluna} = {list(df[coluna].unique())}')

Genero = ['Male', 'Female']
TipoTrabalho = ['Private', 'Self-employed', 'Govt_job', 'Never_worked']
TipoResidencia = ['Urban', 'Rural']
StatusFumante = ['formerly smoked', 'never smoked', 'smokes', 'Unknown']

In [10]:
# Traduzindo dados

trad_genero = {'Male': 'Masculino',
               'Female': 'Feminino'}

trad_tipotrabalho = {'Private': 'Privado',
                     'Self-employed': 'Autonomo',
                     'Govt_job': 'ServidorPublico',
                     'Never_worked': 'NuncaTrabalhou'}

trad_tiporesidencia = {'Urban': 'Urbano',
                       'Rural': 'Rural'}

trad_statusfumante = {'formerly smoked': 'ExFumante',
                      'never smoked': 'NuncaFumou',
                      'smokes': 'Fumante',
                      'Unknown': 'Desconhecido'}

traducoes = [('Genero', trad_genero),
             ('TipoTrabalho', trad_tipotrabalho),
             ('TipoResidencia', trad_tiporesidencia),
             ('StatusFumante', trad_statusfumante)]

for nm_coluna, mapa in traducoes:
  df[nm_coluna] = df[nm_coluna].map(mapa)

In [11]:
# Verificando dados nulos

df.isnull().sum()

ID                  0
Genero              0
Idade               0
Hipertensao         0
DoençaCardiaca      0
TipoTrabalho        0
TipoResidencia      0
NivelGlicose        0
IMC               184
StatusFumante       0
AVC                 0
dtype: int64

In [12]:
# Apagando dados nulos

df = df.dropna()

In [13]:
# Separando as variaveis categoricas

df_dummies = pd.get_dummies(df[['Genero', 'TipoTrabalho', 'TipoResidencia', 'StatusFumante']])

df = df.join(df_dummies)

In [14]:
# Selecionando as colunas

df = df[['Genero_Feminino',
         'Genero_Masculino',
         'Idade',
         'Hipertensao',
         'DoençaCardiaca',
         'TipoTrabalho_Autonomo',
         'TipoTrabalho_NuncaTrabalhou',
         'TipoTrabalho_Privado',
         'TipoTrabalho_ServidorPublico',
         'TipoResidencia_Rural',
         'TipoResidencia_Urbano',
         'NivelGlicose',
         'IMC',
         'StatusFumante_ExFumante',
         'StatusFumante_Fumante',
         'StatusFumante_NuncaFumou',
         'AVC']]

In [15]:
df.head()

,Genero_Feminino,Genero_Masculino,Idade,Hipertensao,DoençaCardiaca,TipoTrabalho_Autonomo,TipoTrabalho_NuncaTrabalhou,TipoTrabalho_Privado,TipoTrabalho_ServidorPublico,TipoResidencia_Rural,TipoResidencia_Urbano,NivelGlicose,IMC,StatusFumante_ExFumante,StatusFumante_Fumante,StatusFumante_NuncaFumou,AVC
0,0,1,67,0,1,0,0,1,0,0,1,228.69,36.6,1,0,0,1
2,0,1,80,0,1,0,0,1,0,1,0,105.92,32.5,0,0,1,1
3,1,0,49,0,0,0,0,1,0,0,1,171.23,34.4,0,1,0,1
4,1,0,79,1,0,1,0,0,0,1,0,174.12,24.0,0,0,1,1
5,0,1,81,0,0,0,0,1,0,0,1,186.21,29.0,1,0,0,1

## Desenvolvimento do algoritmo

In [ ]:
%pip install imblearn

from imblearn.over_sampling import SMOTE
import numpy as np

In [18]:
# Separando dataframe em x (variaveis) e y (label)

X = df.drop('AVC', axis = 1)
y = df.AVC

In [19]:
# Verificando balanceamento da label AVC

np.bincount(y)

array([3962,  208], dtype=int64)

In [20]:
# Balanceando base

smt = SMOTE()

X, y = smt.fit_resample(X, y)

In [21]:
# Verificando dados após balanceamento da label AVC

np.bincount(y)

array([3962, 3962], dtype=int64)

In [22]:
# Separando dataset em treino e teste

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=40)

In [23]:
from sklearn.ensemble import RandomForestClassifier

# Instanciando modelo
modelo = RandomForestClassifier()

# Treinando modelo
modelo.fit(X_train,y_train)

# Realizando classificações no conjunto de test
pred = modelo.predict(X_test)

In [24]:
from sklearn.metrics import classification_report

print(classification_report(y_test, pred))

              precision    recall  f1-score   support

           0       0.95      0.98      0.96      1154
           1       0.98      0.95      0.96      1224

    accuracy                           0.96      2378
   macro avg       0.96      0.96      0.96      2378
weighted avg       0.96      0.96      0.96      2378

In [25]:
from sklearn.metrics import accuracy_score

acuracia = accuracy_score(y_test, pred)

print(f'A acurácia final do algoritmo é {round(acuracia*100,2)}%')

A acurácia final do algoritmo é 96.43%